* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #1a1a1a;
}

body, #content {
	width: 100%;
	height: 100%;
	margin: 0;
}

div#legend {
	font-family: Merriweather, serif;
	font-size: 2rem;
	font-weight: 300;
}

main {
	padding-top: 0rem;
	width: 100vw;
	clear: none;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}

aside {
	width: 100%;
	float: right;
	clear: none;
	color: #eee;
	overflow: hidden;
	display: flex;
	background-color: #222;
}

aside h1 {
	font-size: 4rem;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	width: 60%;
	margin-top: 6rem;
	margin-bottom: 6rem;
	padding-left: 6rem;
}

.node-label {
	font-family: Verdana, sans-serif;
}

textPath {
	text-shadow: 4px 6px 5px rgba(0,0,0,0.3);
}

#legend {
	padding-left: 2rem;
	display: flex;
	width: 40%;
	margin-top: 2rem;
}

#legend * {
	font-size: 3rem;
}

#sex {
	width: 20rem;
}

#notsex {
	flex-grow: 1;
}

#sex *, #notsex * {
	vertical-align: middle;
}

#sex .circle {
	color: #F7B1AB;
	font-size: 8rem;
}

#notsex .circle {
	color: #7A9B76;
	font-size: 8rem;
}

.legend-text {
	top: 0.6rem;
	position: relative;
}

.butterfly {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content  {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.btn{
	background-color: #e1e1e1;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}