* {
	box-sizing: border-box;
}

body, #content {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	background-color: #1a1a1a;
}

div#legend {
	font-family: Merriweather, serif;
	font-size: 2rem;
	font-weight: 300;
}

main {
	padding-top: 3rem;
	width: 65vw;
	clear: none;
	height: 100vh;
}

aside {
	padding-top: 3rem;
	height: 100vh;
	flex-grow: 1;
	float: right;
	clear: none;
	color: #eee;
	overflow: hidden;
}

aside h1 {
	font-size: 3rem;
	font-family: 'Merriweather', serif;
	font-weight: 700;
}

.node-label {
	font-family: Verdana, sans-serif;
}

#sex .circle {
	color: "#F7B1AB";
}

#notsex .circle {
	color: "#F7B1AB";
}